/* 미디어스크린시작 */

/* pc사이즈 : 1200px이상
테블릿 사이즈 : 768px이상 (768-1119px)    
모바일 사이즈 : 320px이상 (320-767px)*/


/*--------------------------------------테블릿 사이즈-----------------------------------------*/

@media screen and (min-width:768px) and (max-width:1199px){
    
    body,header{ width:100%; font-size:14px;}
    section, #content2{ width:96%; }
 
/*--------------헤더영역 시작--------------*/   
    header nav{ display: none;}
    #quick_menu{ display: none; }
    

/*--------------햄버거 메뉴 버튼--------------*/   

    #mobile_menu{display: block;}

/*------------메인비주얼 시작---------------*/

    #main_txt #main_tit{ margin-bottom: 20px;}
    #main_txt p{ margin-bottom: 25px;}
    #main_vis #main_apple {min-width: 400px;  right:0;}
    
/*----섹션 콘텐츠1 (브랜드 소개)-------*/

    #content1{ height: 700px;}
    #content1 img{ width:285px; height: 580px; top:100px; opacity:1;}
    #content1_txt_box{ position: relative; width:100%; margin-top: 170px;}
    #content1_txt_box #content1_tit{ width:60%; margin-bottom: 10px; margin-left: 33%; float:none; text-align: left;}
    #content1_txt_box #content1_txt{ margin-left: 33%; width:60%; float:none; }
    #content1_txt_box #more_Btn2 { top:250px; right: 15px;}


/*------섹션 콘텐츠2 (프로덕트 슬라이드)-------*/

    /*---제품 리스트 시작--*/
    #content2{ width:768px; }
    #content2 #product_list {  width: 1792px; margin-top: 180px;}
    #content2 #product_list li{ width: 226px; height: 255px;}
    #content2 #product_list .product_txt1,#content2 #product_list .product_txt2{ text-align: center;}
    
    .info span{ width:113px; height: 113px; line-height: 113px;}


/*------섹션 콘텐츠4 (인스타)-------*/ 
    #content4 #insta_list li{width:30.8%; }
    #content4 #insta_list li:nth-child(4){display: none;}
    
/*------섹션 콘텐츠5 (구독)-------*/ 
    
    #content5{height: 900px;}
    #content5_txt_box{padding:80px 4%;; height: 470px;}
    #content5 img{ top:220px; height: 540px;}
    
/*----------푸터 영역------------*/   
    
    #content6{ height: 630px;}
    footer_wrap{100%;}
    footer{ width:98%; padding: 50px 0;}
    footer img{width: 100px; height: 40px;}
}


/*---------------------------------------모바일 사이즈-----------------------------------------*/
@media screen and (max-width:767px){
    
    body,header{ width:100%; font-size:13px;}
    section{ width:96%; }
    .contit {font-size:30px;}
    
    /*--------------헤더영역 시작--------------*/
    
    header nav{ display: none;}
    #quick_menu{ display: none; }
    
/*----------햄버거 메뉴 아이콘----------*/
    
    #mobile_menu{display: block;}
    
/*----------메인비주얼----------*/
    #main_vis #main_apple {right:0;top:250px; min-width: 320px;}
    #wave_bg{height: 600px;}
    #main_txt #more_Btn1 a, #content1_txt_box #more_Btn2 a {width:80px; height: 40px; line-height: 35px; border-radius: 15px;font-size:17px;}
    #main_txt{top:120px; }
    #main_txt #main_tit{ font-size: 2.8em; margin-bottom: 10px;}
    #main_txt p{margin-bottom: 10px;}
    
/*    ------------------섹션 콘텐츠1 (브랜드 소개)--------------------*/
    
    
    #content1_wrap{height:530px; }
    #content1{height: 100%;}
    #content1 img{ width:200px; height: 400px; top:20px; opacity: 0.1}
    .con_txt .con_tit{font-size:25px; margin-bottom: 80px;}
    #content1_txt_box{ margin-top: 80px; height: 450px;}
    #content1_txt_box #content1_tit{text-align: left; margin-left:20%; width:50%; line-height: 50px;margin-bottom: 10px; font-size:30px;} 
    #content1_txt_box #content1_txt{ color:#444; width:70%; margin:0 10% 0 20%;  text-align: left; line-height: 30px; height: 170px; float: left;}
    #content1_txt_box #more_Btn2 {top:150px; right:20px;}
  

    
    /*-------------------섹션 콘텐츠2 (프로덕트 슬라이드)--------------------*/
    
    
/*---제품 리스트 시작--*/
    #content2_wrap{ height:800px;}
    #content2 .con_tit{margin-bottom: 50px;}
    #content2{ width:320px; height: 800px;}
    #content2 #product_list { width:2240px; margin-top: 100px;}
    #content2 #product_list li {width:280px; height: 305px; margin: 0 20px;}
    #content2 #product_list .product_txt1,#content2 #product_list .product_txt2{ text-align: center;}
    .info span{width: 120px; height: 120px; line-height: 120px;}
    
    
    
    /*------------------섹션 콘텐츠3 (스파클링 효과)--------------------*/

    #content3_wrap{height: 580px; margin-bottom: 250px;}
    #effect_list {width:70%;margin:0 15%;}
    #cont3_txt_box{ width:100%; border-left: none; padding: 0; margin: 0 auto;}
    #cont3_txt_box #effect_txt{text-align: center;}
    #content3 #leaf, #effect_tit { display: none;}
    #effect_txt{margin-top: 50px;}

    
/*------------------섹션 콘텐츠4 (인스타그램)--------------------*/
   
    #content4{ margin-bottom: 200px;}
    
    #content4 #insta_list li{ width:47.5%; margin-bottom: 10px;}
    
    #content4 #insta_list li:nth-child(n+3){
        display: none;
    }
    

/*------------------섹션 콘텐츠5 (구독)--------------------*/
    #content5{height: 550px; margin-bottom: 250px; margin:0 auto;}
    #content5 .con_txt{margin-top: 0;}
    #content5 .con_tit{ height: 110px;}
    #content5_txt_box{ width:98%; height: 400px; padding:70px 3.6%; margin: 0 auto; text-align: center;}

    #content5_txt_box #sub_Btn a{ width:100px; height: 40px; line-height: 40px; border-radius: 15px; font-size:14px;margin: 10px auto;}
    
    #content5 img{ display: none;}

/*-------------------섹션 콘텐츠6 (지도)--------------------*/

    #content6{ height: 585px;}

/*------------------푸터(footer)-------------------*/
    footer_wrap{width:100%;}
    footer{ width:98%; padding: 30px 20px; box-sizing: border-box;}
    footer img{width:55px; height: 24px; margin-bottom: 10px;}

}


@media screen and (max-width:480px){
    
    body,header{ width:100%; font-size:12px;}
    section{ width:96%; }
    .contit {font-size:30px;}
    
    /*--------------헤더영역 시작--------------*/
    
    header nav{ display: none;}
    #quick_menu{ display: none; }
    
/*----------햄버거 메뉴 아이콘----------*/
    
    #mobile_menu #toggle_btn{display: block;}
    
/*----------메인비주얼----------*/
    #main_vis #main_apple {right:0;top:300px; min-width: 300px;}
    #main_txt #more_Btn1 a, #content1_txt_box #more_Btn2 a {width:80px; height: 40px; line-height: 35px; border-radius: 15px;font-size:17px;}
    #main_txt{top:110px; }
    #main_txt #main_tit{ font-size: 2.5em; margin-bottom: 10px;}
    #main_txt p{margin-bottom: 10px;}
    
/*    ------------------섹션 콘텐츠1 (브랜드 소개)--------------------*/
    
    
    #content1_wrap{height:530px; }
    #content1{height: 100%;}
    #content1 img{ width:200px; height: 400px; top:20px; opacity: 0.1;}
    .con_txt .con_tit{font-size:25px; margin-bottom: 80px;}
    #content1_txt_box{ margin-top: 80px; height: 450px;}
    #content1_txt_box #content1_tit{text-align: left; margin-left:20%; width:50%; line-height: 50px;margin-bottom: 10px; font-size:30px;} 
    #content1_txt_box #content1_txt{ color:#444; width:70%; margin:0 10% 0 20%;  text-align: left; line-height: 30px; height: 170px; float: left;}
    #content1_txt_box #more_Btn2 {top:150px; right:20px;}
  

    
    /*-------------------섹션 콘텐츠2 (프로덕트 슬라이드)--------------------*/
    
    
/*---제품 리스트 시작--*/
    #content2_wrap{ height:800px;}
    #content2 .con_tit{margin-bottom: 50px;}
    #content2{ width:320px; height: 800px;}
    #content2 #product_list { width:2240px; margin-top: 100px;}
    #content2 #product_list li {width:280px; height: 305px; margin: 0 20px;}
    #content2 #product_list .product_txt1,#content2 #product_list .product_txt2{ text-align: center;}
    .info span{width: 120px; height: 120px; line-height: 120px;}
    
    
    
    /*------------------섹션 콘텐츠3 (스파클링 효과)--------------------*/

    #content3_wrap{height: 580px; margin-bottom: 250px;}
    #effect_list {width:70%;margin:0 15%;}
    #cont3_txt_box{ width:100%; border-left: none; padding: 0; margin: 0 auto;}
    #cont3_txt_box #effect_txt{text-align: center;}
    #content3 #leaf, #effect_tit { display: none;}
    #effect_txt{margin-top: 50px;}

    
/*------------------섹션 콘텐츠4 (인스타그램)--------------------*/
   
    #content4{ margin-bottom: 200px;}
    
    #content4 #insta_list li{ width:47.5%; margin-bottom: 10px;}
    
    #content4 #insta_list li:nth-child(n+3){
        display: none;
    }
    

/*------------------섹션 콘텐츠5 (구독)--------------------*/
    #content5{height: 550px; margin-bottom: 250px; margin:0 auto;}
    #content5 .con_txt{margin-top: 0;}
    #content5 .con_tit{ height: 110px;}
    #content5_txt_box{ width:98%; height: 400px; padding:70px 3.6%; margin: 0 auto; text-align: center;}

    #content5_txt_box #sub_Btn a{ width:100px; height: 40px; line-height: 40px; border-radius: 15px; font-size:14px;margin: 10px auto;}
    
    #content5 img{ display: none;}

/*-------------------섹션 콘텐츠6 (지도)--------------------*/

    #content6{ height: 585px;}

/*------------------푸터(footer)-------------------*/
    footer_wrap{width:100%;}
    footer{ width:98%; padding: 30px 20px; box-sizing: border-box;}
    footer img{width:55px; height: 24px; margin-bottom: 10px;}

}

@media screen and (max-width:479px){
    
/*----------메인비주얼----------*/
    #main_vis #main_apple {right:0;top:370px; min-width: 250px;}
    #main_txt #more_Btn1 a, #content1_txt_box #more_Btn2 a {width:80px; height: 40px; line-height: 35px; border-radius: 15px;font-size:17px;}
    #main_txt{top:120px; }
    #main_txt #main_tit{ font-size: 2.8em; margin-bottom: 10px;}
    #main_txt p{margin-bottom: 10px;}
}