#sub_bg{
    width: 100%;
    height: 350px;
    background: url(../img/sub_bg.jpg);
    background-size: cover;
}

#subpage{
    height: 600px;
}

#warning{
    margin: 300px auto;
    width: 30%;
    min-width: 267px;
    height: 330px;
    text-align: center;
}

#warning img{
    width: 90px;
    height: 90px;
}


#warning_tit{
    margin-top: 30px;
    font-size: 1.7em;
    color:#333;
}

#warning_txt{
    margin-top: 10px;
    font-size: 1.2em;
    color:#999;
}

